

.header__top {
  background: $gray;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.header__top-left,
.header__top-right {
  display: flex;
  align-items: center;
}

.header__location,
.header__time,
.header__contact {
  display: flex;
  align-items: center;
  gap: 8px;

  span{
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: $white;
    opacity: 0.7;
    transition: opacity ease 0.3s;
  }
}

.header__location {
  margin-right: 30px;

  svg {
    flex-shrink: 0;
    display: block;
  }
}

.header__contact {
  margin-right: 20px;

  svg {
    flex-shrink: 0;
    display: block;
  }

  &:hover{
    span{
      opacity: 1;
      transition: opacity ease 0.3s;
    }
  }


}
.header__contact--phone{
    margin-right: 32px;
}

.header__callback {
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: $white;
  opacity: 0.7;
  text-decoration: underline;
  transition: opacity ease 0.3s;

  &:hover{
    opacity: 1;
    transition: opacity ease 0.3s;
  }
}

.header__main {
  background: $white;
  border-radius: 0 0 20px 20px;
}

.header__main-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 15px 0;
}

.header__logo {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.02;
  color: $gray;
  text-decoration: none;
  white-space: nowrap;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  color: $gray;
  text-decoration: none;
  white-space: nowrap;
  transition: transform ease 0.3s;

  &:hover{
    transform: translateY(-5px);
    transition: transform ease 0.3s;
  }
}

