.services-hero-sec{
    
    .hero-sec__bg-img{
        width: 937px;
        transform: rotate(170deg);
        right: -80px;
        bottom: 100px;
    }
    .btn-ctr-v1{
        width: 355px;
    }
}